@if (ShowingNewTask)
{
    <app-newtask [UserId]="UserId" (ClosingEventEmitval)="OnClickCancel()"/>
}

<section id="tasks">
    <header>
        <h2>{{Username}}</h2>
        <menu>
            <button (click)="OnClickAddNewTask()">Add Task</button>
        </menu>
    </header>
    <ul>
        @for (task of FetchTasks; track task.id) {
            <li> 
               <app-task [dummytasks]="task" (CompletedTaskId)="OnClickComplete($event)"/>
             </li>
         }
    </ul>
</section>

